body{
    background-image: url("https://image-api.hazipatika.com/hazipatika/images/articles/GR/OM/isYj5pbibKbJcrVPadhDBpqj2mT8mZmQu4x47rNp.jpg?w=1200&h=630&s=3d039f7d3b8abd61d3031c22870974a0");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.box {
    width: 150px;
    height: 150px;
    background-color: red;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
    cursor: pointer;
    transition: transform 0.2s;
  }

.container{
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(6,125px);
    top: 10px;
    
}


h1, p {
    text-align: center;
    color: white;
}

.box img {
    width: 80%;
    height: 70%;
    object-fit: cover; 
    position: absolute;
    top: 5px; 
  }
.box span {
    margin-top: 100px; 
    font-size: 16px;
    font-weight: bold;
    color: rgb(81, 76, 76);
  }

  .box:hover{
    transform: scale(1.05s);
  }

  .eredmeny{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .legtobb{
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
  }

  @media (max-width: 500px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 10px;
    }

    .container {
        gap: 10px;
        grid-template-columns: repeat(3, 100px);
    }

    .box {
        width: 100px;
        height: 100px;
    }

    .box span {
        font-size: 12px;
    }
}


  